{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
 
    <ul class="article-taxonomy">
      {{ if .Params.categories }}            
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
    
      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

  {{ if hasPrefix .File.Dir "post/" }}
    <ul class="page-links">
        <li>
          {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </li>
        <li>
          {{ if .Next }}
          <a href="{{ .Next.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </li>
    </ul>
  {{ end }}

  {{ $dir := .File.BaseFileName | printf "%s%s" .Dir | printf "%s%s" "comments/" }}
  {{ if (fileExists $dir) }}
    {{ $files := readDir $dir }}
    <hr>
    <h3>There are {{ len $files }} comments</h3>
    {{ range $files }}
      {{ $comment := getJSON $dir "/" .Name }}
      <div class="comment-indent-{{ $comment.indent_level }}">
      <h4 class="comment-title">
        {{ if $comment.author_url }}<a href="{{ $comment.author_url }}" target="_blank">{{ end }}
        {{ $comment.author }}
        {{ if $comment.author_url }}</a>{{ end }}&nbsp;
        ({{ $comment.date | dateFormat "2006-01-02" }})
      </h4>
        {{ if lt $comment.date "2018-08-08" }}
      <p class="comment-content">{{ $comment.content | safeHTML }}</p>
        {{ else }}
        <p class="comment-content">{{ $comment.content | emojify }}</p>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
