{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
 
    <ul class="article-taxonomy">
      {{ if .Params.categories }}            
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
    
      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

  {{ $secret := "141592653589793_" }} {{/* yes, it's public, but it is nowhere in the page */}}
  {{ if hasPrefix .File.Dir "post/" }}
    {{ $page_fq := .File.BaseFileName | printf "%s%s" .Dir }}
    {{ $page_secret := print $secret $page_fq }}
    {{ $page_hash := sha1 $page_secret }}
    <ul class="page-links">
        <li>
          {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </li>
        <li>
          <a onclick="window.open('/comment/#{{ $page_fq }}/{{ $page_hash }}', '_blank', 'location=yes,scrollbars=yes,status=yes');">💬 Reply 💬</a>
        </li>
        <li>
          {{ if .Next }}
          <a href="{{ .Next.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </li>
    </ul>
  {{ end }}

  {{ $dir := .File.BaseFileName | printf "%s%s" .Dir | printf "%s%s" "comments/" }}
  {{ if (fileExists $dir) }}
    {{ $files := readDir $dir }}
    <hr>
    <h3>There are {{ len $files }} comments</h3>
    {{ range $files }}
      {{ $comment_fqfn := print $dir "/" .Name }}
      {{ $comment := getJSON $comment_fqfn }}
      {{ $comment_fq := replace $comment_fqfn ".json" "" }}
      {{ $comment_secret := print $secret $comment_fq }}
      {{ $comment_hash := sha1 $comment_secret }}
      <div class="comment-indent-{{ $comment.indent_level }}">
      <h4 class="comment-title">
        {{ if $comment.author_url }}<a href="{{ $comment.author_url }}" target="_blank">{{ end }}
        {{ $comment.author }}
        {{ if $comment.author_url }}</a>{{ end }}&nbsp;
        ({{ $comment.date | dateFormat "2006-01-02" }})
      </h4>
        {{/* old comments are considered safe, new will have to be made safe by tooling! */}}
        <p class="comment-content">{{ $comment.content | safeHTML }}</p>
        <p class="comment-content">
          <a onclick="window.open('/comment/#{{ $comment_fq }}/{{ $comment_hash }}', '_blank', 'location=yes,scrollbars=yes,status=yes');">💬 Reply 💬</a>
        </p>
      </div>
    {{ end }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
